.videoDetail {
  position: relative;
  padding: 24px 28px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #E7E7E7;
    transform: scaleY(0.5);
  }
}

.hot {
  padding: 2px 12px;
  margin-right: 8px;
  background-color: #F4F4F4;
  font-size: 24px;
  color: #FB7299;
  border-radius: 20px;
}

.title {
  font-size: 28px;
  color: #18191C;
  line-height: 1.5715;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.infoCover {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}

.infoName {
  font-size: 28px;
  color: #18191C;
}

.authorOther {
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconLike {
  width: 48px;
  height: 48px;
  background: url('/images/video/icon-like.svg') center / 100% 100% no-repeat;
}

.iconCollection {
  width: 48px;
  height: 48px;
  background: url('/images/video/icon-collection.svg') center / 100% 100% no-repeat;
}

.iconShare {
  width: 48px;
  height: 48px;
  background: url('/images/video/icon-share.svg') center / 100% 100% no-repeat;
}