.videoDetail {
  position: relative;
  padding: 0.6rem 0.7rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    transform: scaleY(0.5);
  }
}

.hot {
  padding: 0.05rem 0.3rem;
  margin-right: 0.2rem;
  background-color: #f4f4f4;
  color: #fb7299;
  border-radius: 10px;
}

.title {
  line-height: 1.5715;
  font-size: 0.7rem;
  color: #18191c;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6rem
}

.authorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}

.infoCover {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  overflow: hidden;
}

.infoName {
  font-size: 0.7rem;
  color: #18191c;
}

.authorOther {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.iconLike {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../../../public/images/video/icon-like.svg');
}

.iconCollection {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../../../public/images/video/icon-collection.svg');
}

.iconShare {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../../../public/images/video/icon-share.svg');
}