.tabbar {
  position: relative;
}

.group {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: px2rem(1);
    background-color: #e7e7e7;
    transform: scaleY(.5);
  }
}

.list {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: px2rem(2);
  height: px2rem(38);
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.subList {
  height: auto;
  background-color: #f9f9f9;
}

.item {
  height: px2rem(38);
  line-height: px2rem(38);
  margin: 0 px2rem(16);
  font-size: px2rem(14);
  color: '#505050';
  flex-shrink: 0;
}

.itemIcon {
  margin: 0 px2rem(11);
  font-weight: 1000;
  font-size: px2rem(14);
}

.activeItem {
  position: relative;
  color: #fb7299;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: px2rem(2);
    transform: translateX(-50%);
    width: 100%;
    border-bottom: px2rem(2.6) solid #fb7299;
    border-radius: 6px;
  }
}
