.videoPlayer {
  width: 100%;
  height: 424px;
}

.video {
  width: 100%;
  height: 100%;
}

.cover {
  position: relative;
  width: 100%;
  height: 100%;
}

.iconPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  height: 96px;
}

.tip {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 160px;
    background-image: linear-gradient(180deg, transparent 2%, rgba(0, 0, 0, 0.7) 98%);
  }
}

.tipText {
  font-size: 24px;
  color: #FFFFFF;
}

.tipTime {
  position: absolute;
  right: 24px;
  color: #FFFFFF;
}