.videoPlayer {
  width: 100%;
  height: 10.6rem;
}

.video {
  width: 100%;
  height: 100%;
}

.cover {
  position: relative;
  width: 100%;
  height: 100%;
}

.iconPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.4rem;
  height: 2.4rem;
}

.tip {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  padding: 0.6rem;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 4rem;
    background-image: linear-gradient(180deg, transparent 2%, rgba(0, 0, 0, 0.7) 98%);
  }
}

.tipText {
  font-size: 0.6rem;
  color: #ffffff;
}

.tipTime {
  position: absolute;
  right: 0.6rem;
  color: #ffffff;
}