.tabbar {
  width: 100%;
}

.group {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e7e7e7;
    transform: scaleY(0.5);
  }
}

.list {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  line-height: 2rem;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.subList {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.item {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 0.8rem;

  a {
    font-size: 0.7rem;
    color: #505050;
  }
}

.activeItem {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 0.8rem;

  a {
    font-size: 0.7rem;
    color: #fb7299;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.1rem;
    transform: translateX(-50%);
    width: 100%;
    height: 0.125rem;
    background-color: #fb7299;
    border-radius: 4px;
  }
}

.itemIcon {
  margin-inline: 0.55rem;
  font-weight: 1000;
  font-size: 0.7rem;
}