.tabbar {
  width: 100%;
}

.group {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #E7E7E7;
    transform: scaleY(0.5);
  }
}

.list {
  flex: 1;
  display: flex;
  align-items: center;
  height: 80px;
  line-height: 80px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.subList {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}

.item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-inline: 32px;

  a {
    font-size: 28px;
    color: #505050;
  }
}

.activeItem {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-inline: 32px;

  a {
    font-size: 28px;
    color: #FB7299;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background-color: #FB7299;
    border-radius: 8px;
  }
}

.itemIcon {
  margin-inline: 22px;
  font-weight: 1000;
  font-size: 28px;
}