.movie {
  width: 100%;
  background-color: #ffffff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin: 0.5rem 0.6rem;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.itemCover {
  position: relative;
  width: 3.9rem;
  height: 5.2rem;
  border-radius: 4px;
  overflow: hidden;
}

.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.infoTitle {
  font-size: 0.7rem;
  color: #212121;

  em {
    font-style: normal;
    color: #fb7299;
  }
}

.infoText {
  font-size: 0.6rem;
  color: #999999;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}