.up {
  width: 100%;
  background-color: #ffffff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin: 0.5rem 0.6rem;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.itemCover {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.infoTitle {
  font-size: 0.7rem;
  color: #212121;
}

.infoText {
  font-size: 0.6rem;
  color: #999999;
}