.liveList {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.logo {
  display: inline-block;
  min-width: 100%;
  padding: px2rem(5.5) 0;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
}

.logoImage {
  margin-left: px2rem(18);
}

.liveListMain {
  padding: 0 px2rem(13);
}

.title {
  margin: px2rem(13) 0;
  font-size: px2rem(14);
  font-weight: normal;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  max-width: px2rem(170);
  margin-bottom: px2rem(10);
  box-sizing: border-box;
}

.itemCover {
  position: relative;
  width: px2rem(170);
  height: px2rem(105);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 1;
  }
}

.itemImage {
  border-radius: 8px;
}

.info {
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: px2rem(5) px2rem(6);
  box-sizing: border-box;
}

.infoName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nameText {
  max-width: 95%;
  margin-left: px2rem(3);
  font-size: px2rem(11);
  color: #ffffff;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* 这里是超出几行省略 */
  -webkit-line-clamp: 1;
}

.infoCount {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: px2rem(60);
}

.countText {
  margin-left: px2rem(3);
  font-size: px2rem(11);
  color: #ffffff;
}

.itemTitle {
  height: px2rem(32);
  line-height: px2rem(16);
  margin-top: px2rem(5);
  font-size: px2rem(12);
  color: #212121;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* 这里是超出几行省略 */
  -webkit-line-clamp: 2;
}

.noMore {
  width: 100%;
  height: px2rem(38);
  border: 1px solid #d3d3d3;
  margin-bottom: px2rem(16);
  background-color: #fff;
  color: #fb7299;
  outline: none;
  border-radius: 6px;
}