.liveArea {
  flex-grow: 1;
  overflow-y: auto;
}

.title {
  padding-inline: 32px;
  margin-top: 32px;
  margin-bottom: 66px;
  font-weight: normal;
  font-size: 28px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  row-gap: 100px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemCover {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.itemText {
  font-size: 24px;
  color: gray;
}