.liveArea {
  flex-grow: 1;
  overflow-y: auto;
}

.title {
  padding-inline: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 1.65rem;
  font-weight: normal;
  font-size: 0.7rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  row-gap: 2.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemCover {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.itemText {
  font-size: 0.6rem;
  color: gray;
}