.liveRoom {
  width: 100vw;
  height: 100vh;
  background: url('/images/live-room/room.webp') center / cover no-repeat;
}

.roomInfo {
  display: flex;  
  align-items: center;
  gap: 16px;
  padding: 28px;
}

.infoCover {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  display: flex;
  flex-direction: column;
}

.avatarText {
  color: #FFFFFF;
}

.follow {
  padding: 8px 16px;
  background: linear-gradient(270deg, #FB7299, #FF6589);
  font-size: 24px;
  color: #FFFFFF;
  border-radius: 36px;
}

.roomVideo {
  position: relative;
  width: 100%;
  height: 422px;
  overflow: hidden;
}

.videoCover {
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transform: scale(1.2);
}

.iconPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 136px;
  height: 136px;
}

.roomControl {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-inline: 20px;
  margin-block: 32px;
  box-sizing: border-box;
}

.controlInput {
  flex: 1;
  padding: 10px 32px;
  background-color: rgba(0, 0, 0, 0.3);
  color: hsla(0, 0%, 100%, 0.5);
  border-radius: 60px;
}

.iconGift {
  position: relative;
  width: 56px;
  height: 56px;
}