.liveRoom {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/images/live-room/room-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.roomInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  padding: 0.7rem;
}

.infoCover {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  display: flex;
  flex-direction: column;
}

.avatarText {
  color: #ffffff;
}

.follow {
  padding: 0.2rem 0.4rem;
  background: linear-gradient(270deg, #fb7299, #ff6589);
  font-size: 0.6rem;
  color: #ffffff;
  border-radius: 18px;
}

.roomVideo {
  position: relative;
  width: 100%;
  height: 10.55rem;
  overflow: hidden;
}

.videoCover {
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  transform: scale(1.2);
}

.iconPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.4rem;
  height: 3.4rem;
}

.roomControl {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-inline: 0.5rem;
  margin-block: 0.8rem;
  box-sizing: border-box;
}

.controlInput {
  flex: 1;
  padding: 0.25rem 0.8rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: hsla(0, 0%, 100%, 0.5);
  border-radius: 30px;
}

.iconGift {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
}