.tabbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 px2rem(7);
  background-color: #fff;
}

.tabItem {
  width: px2rem(60);
  height: px2rem(36);
  line-height: px2rem(40);
  font-size: px2rem(15);
  text-align: center;
  
  a {
    color: #000;
  }
}

.tabActiveItem {
  border-bottom: px2rem(4) solid #fb7299;
}

.tabItemLink {
  width: 100%;
  height: 100%;
}
