.videoRecommend {
  padding-inline: 0.6rem;
  padding-bottom: 0.6rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.6rem;
}

.titleText {
  font-size: 0.7rem;
  color: #505050;
}

.more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1rem;
}

.moreText {
  font-size: 0.6rem;
  color: #505050;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(8.5rem, 1fr));
  column-gap: 0.5rem;
  row-gap: 0.6rem;
}

.item {
  width: 100%;
  height: 100%;
}

.itemCover {
  position: relative;
  width: 100%;
  height: 4.9rem;
  margin-bottom: 0.3rem;
  border-radius: 4px;
  overflow: hidden;
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.3rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), transparent);
  box-sizing: border-box;
}

.infoItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.itemIcon {
  font-size: 0.8rem;
  color: #ffffff;
}

.itemCount {
  font-size: 0.55rem;
  color: #ffffff;
}

.itemTitle {
  font-size: 0.6rem;
  color: #212121;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}