.videoRecommend {
  padding-inline: 24px;
  padding-bottom: 24px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 24px;
}

.titleText {
  font-size: 28px;
  color: #505050;
}

.more {
  display: flex;  
  align-items: center;
  gap: 4px;
}

.moreText {
  font-size: 24px;
  color: #505050;
}

.moreIcon {
  position: relative;
  width: 24px;
  height: 24px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 24px;
}

.item {
  width: 100%;
  height: 100%;
}

.itemCover {
  position: relative;
  width: 100%;
  height: 196px;
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), transparent);
  box-sizing: border-box;
}

.infoItem {
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.itemIcon {
  font-size: 32px;
  color: #FFFFFF;
}

.itemCount {
  font-size: 22px;
  color: #FFFFFF;
}

.itemTitle {
  font-size: 24px;
  color: #212121;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}