.header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

.logo {
  display: inline-block;
  width: px2rem(62);
  min-height: px2rem(28);
  padding: px2rem(8) 0;
  margin-left: px2rem(18);
}

.operate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: px2rem(12) px2rem(4);
}

.operateItem {
  width:  50%;
}

.operateItemBtn {
  width: 90%;
  height: px2rem(38);
  margin: 0 5%;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  color: #fb7299;
  outline: none;
  border-radius: 6px;
}