.space {
  height: 100%;
}

.cover {
  position: relative;
  width: 100%;
  height: px2rem(129);
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: px2rem(37);
  border-top: 1px solid #979797;
  background-color: #fff;
}

.tabItem {
  flex: 1;
  height: 100%;
  line-height: px2rem(37);
  font-size: px2rem(14);
  text-align: center;
}

.itemText {
  display: inline-block;
  height: 100%;
}

.itemActiveText {
  position: relative;
  color: #fb7299;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    content: "";
    width: 100%;
    height: 0.11rem;
    border-radius: 0.055rem;
    background-color: #fb7299;
  }
}

.history {
  padding: 0 px2rem(12);
  margin-top: px2rem(8);
}

.historyItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: px2rem(19);
}

.itemCover {
  position: relative;
  min-width: px2rem(116);
  height: px2rem(72);
  margin-right: px2rem(12);
  border-radius: 2px;
  overflow: hidden;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoTitle {
  color: #212121;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* 这里是超出几行省略 */
  -webkit-line-clamp: 2;
}

.infoTime {
  color: #999;
}

.contribute {
  padding: px2rem(84) px2rem(47) 0;
}

.contributeImage {
  position: relative;
  width: 100%;
  height: px2rem(159);
}

.contributeText {
  font-size: px2rem(16);
  color: #999;
  text-align: center;
}