.space {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cover {
  position: relative;
  width: 100%;
  height: 256px;
  min-height: 256px;
}

.tabbar {
  display: flex;
  height: 80px;
  border-bottom: 2px solid #EFEFEF;
  background-color: #FFFFFF;
}

.tabItem {
  flex: 1;
  height: 100%;
  font-size: 28px;
  line-height: 80px;
  text-align: center;
}

.itemText {
  display: inline-block;
  font-size: 28px;
  color: #212121;
}

.activeText {
  position: relative;
  display: inline-block;
  font-size: 28px;
  color: #FB7299;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background-color: #FB7299;
    border-radius: 8px;
  }
}

.spaceMain {
  flex-grow: 1;
  overflow-y: auto;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 24px;
  background-color: #FFFFFF;
}

.historyItem {
  display: flex; 
  gap: 24px;
}

.itemCover {
  position: relative;
  min-width: 232px;
  height: 144px;
  border-radius: 8px;
  overflow: hidden;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoTitle {
  font-size: 26px;
  color: #212121;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infoTime {
  font-size: 22px;
  color: #999999;
}

.tip {
  padding-inline: 94px;
  margin-top: 168px;
}

.tipCover {
  position: relative;
  width: 100%;
  height: 318px;
}

.tipText {
  font-size: 32px;
  color: #999999;
  text-align: center;
}

.tipFindText {
  padding-left: 24px;
  font-size: 32px;
  color: #999999;
  text-align: center;
}

.tipFindLink {
  margin-inline: 8px;
  font-size: 32px;
  color: #FB7299;
  text-align: center;
}