.space {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cover {
  position: relative;
  width: 100%;
  height: 6.4rem;
  min-height: 6.4rem;
}

.tabbar {
  display: flex;
  flex-direction: row;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #efefef;
  background-color: #ffffff;
}

.tabItem {
  flex: 1;
  height: 100%;
  font-size: 0.7rem;
  text-align: center;
}

.itemText {
  display: inline-block;
  font-size: 0.7rem;
  color: #212121;
}

.activeText {
  position: relative;
  display: inline-block;
  font-size: 0.7rem;
  color: #fb7299;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.1rem;
    transform: translateX(-50%);
    width: 100%;
    height: 0.125rem;
    background-color: #fb7299;
    border-radius: 4px;
  }
}

.spaceMain {
  flex-grow: 1;
  overflow-y: auto;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 0.6rem;
  background-color: #ffffff;
}

.historyItem {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.itemCover {
  position: relative;
  min-width: 5.8rem;
  height: 3.6rem;
  border-radius: 4px;
  overflow: hidden;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoTitle {
  font-size: 0.65rem;
  color: #212121;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infoTime {
  font-size: 0.55rem;
  color: #999999;
}

.tip {
  padding-inline: 2.35rem;
  margin-top: 4.2rem;
}

.tipCover {
  position: relative;
  width: 100%;
  height: 7.95rem;
}

.tipText {
  font-size: 0.8rem;
  color: #999999;
  text-align: center;
}

.tipFindText {
  padding-left: 0.6rem;
  font-size: 0.8rem;
  color: #999999;
  text-align: center;
}

.tipFindLink {
  margin-inline: 0.2rem;
  font-size: 0.8rem;
  color: #fb7299;
  text-align: center;
}