@font-face {
  font-family: "iconfont";
  src: url("/fonts/icon.eot") format("embedded-opentype"),
    url("/fonts/icon.ttf") format("truetype"),
    url("/fonts/icon.woff") format("woff");
}

/* use !important to prevent issues with browser extensions that change fonts */
[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-arrow {
  color: #aaaaaa;
}

.icon-down-arrow:before {
  content: "\e900";
}

.icon-up-arrow {
  color: #aaaaaa;
}

.icon-up-arrow:before {
  content: "\e902";
}

.icon-right-arrow {
  color: #aaaaaa;
}

.icon-right-arrow:before {
  content: "\e901";
}

.icon-play-count {
  color: #ffffff;
}

.icon-play-count:before {
  content: "\e904";
}

.icon-barrage-count {
  color: #ffffff;
}

.icon-barrage-count:before {
  content: "\e903";
}

.icon-ranking {
  color: #ffa726;
}

.icon-ranking:before {
  content: "\e905";
}

.icon-search {
  color: #cccccc;
}

.icon-search:before {
  content: "\e906";
}

.icon-sex-man {
  color: #89cff0;
}

.icon-sex-man:before {
  content: "\e907";
}

.icon-sex-secrecy {
  color: #ce21e8;
}

.icon-sex-secrecy:before {
  content: "\e908";
}

.icon-sex-woman {
  color: #fb7299;
}

.icon-sex-woman:before {
  content: "\e909";
}