* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  background-color: #fff;
  font-size: 12px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  line-height: 1.5715;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  background-color: #fff;
}

i,
img {
  display: inline-block;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #666;
}

.error {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error .tip {
  margin-top: 10px;
  font-size: 14px;
  color: #a0a0a0;
}

.not-found {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.not-found .tip {
  font-size: 16px;
  color: #a0a0a0;
}