.not-found {
  min-height: calc(100vh - 170.5px);
  padding-top: 50px;
  text-align: center;

  .title {
    font-weight: 700;
    font-size: 98px;
  }

  .msg {
    font-size: 20px;
  }
}