.not-found {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;

  .msg {
    font-size: 16px;
    color: #a0a0a0;
    text-align: center;
  }
}