.panel {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: px2rem(15);
}

.titleText {
  margin-left: px2rem(16);
  font-size: px2rem(15);
  color: #212121;
}

.more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: px2rem(12);
}

.leftIcon {
  font-size: px2rem(18);
}

.moreText {
  margin: 0 px2rem(5) 0 px2rem(6);
  font-size: px2rem(13.2);
}

.rightIcon {
  font-size: px2rem(13.2);
}