.header {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  padding: 24px;
}

.icon {
  position: relative;
  width: 44px;
  height: 44px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4.6px;
    height: 20px;
    margin-top: -15px;
    background-color: rgb(251, 114, 153);
    border-radius: 3px;
    transform: rotate(45deg);
    transform-origin: left center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4.6px;
    height: 20px;
    background-color: rgb(251, 114, 153);
    border-radius: 3px;
    transform: rotate(-45deg);
    transform-origin: left center;
  }
}

.title {
  flex: 1;
  font-size: 32px;
  color: #FB7299;
  text-align: center;
}

.tabbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  line-height: 80px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #E7E7E7;
    transform: scaleY(0.5);
  }
}

.item {
  flex-shrink: 0;
  height: 100%;
  margin-inline: 32px;

  a {
    font-size: 28px;
    color: #505050;
  }
}

.activeItem {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  margin-inline: 32px;

  a {
    font-size: 28px;
    color: #FB7299;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background-color: #FB7299;
    border-radius: 8px;
  }
}