.video {
  width: 100%;
  background-color: #FFFFFF;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 20px 24px;
}

.item {
  display: flex;
  gap: 24px;
}

.itemCover {
  position: relative;
  width: 280px;
  height: 176px;
  border-radius: 8px;
  overflow: hidden;
}

.itemDuration {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding-block: 2px;
  padding-inline: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  color: #FFFFFF;
  border-radius: 4px;
}

.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoTitle {
  font-size: 28px;
  color: #222222;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;

  em {
    font-style: normal;
    color: #FB7299;
  }
}

.infoAuthor {
  display: flex;
  align-items: center;
  gap: 12px;
}

.authorIcon {
  position: relative;
  width: 30px;
  height: 26px;
}

.authorText {
  font-size: 24px;
  color: #999999;
}

.infoCount {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.countItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.countIcon {
  position: relative;
  width: 30px;
  height: 26px;
}

.countText {
  font-size: 24px;
  color: #999999;
}