.video {
  width: 100%;
  background-color: #ffffff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin: 0.5rem 0.6rem;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.itemCover {
  position: relative;
  width: 7rem;
  height: 4.4rem;
  border-radius: 4px;
  overflow: hidden;
}

.itemDuration {
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
  padding-block: 0.05rem;
  padding-inline: 0.1rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.55rem;
  color: #ffffff;
  border-radius: 2px;
}

.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.infoTitle {
  font-size: 0.7rem;
  color: #222222;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;

  em {
    font-style: normal;
    color: #fb7299;
  }
}

.infoAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.authorText {
  font-size: 0.6rem;
  color: #999999;
}

.infoCount {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.countItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.countText {
  font-size: 0.6rem;
  color: #999999;
}