.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: px2rem(12);
}

.itemCover {
  position: relative;
  width: px2rem(78);
  height: px2rem(104);
  border-radius: 4px;
  overflow: hidden;
}

.itemInfo {
  flex: 1;
  margin-left: px2rem(12);
}

.infoLable {
  margin-bottom: px2rem(10);
  font-size: px2rem(14);
  color: #212121;
}

.infoTitle {
  font-size: px2rem(14);
  color: #212121;
}