.searchSuggest {
  height: 100%;
}

.suggestList {
  padding-top: px2rem(5);
  padding-left: px2rem(11);
  background-color: #fff;
}

.suggestItem {
  height: px2rem(43);
  line-height: px2rem(43);
  border-bottom: 1px solid #ccc;
  font-size: px2rem(13);
  color: #212121;
}
