.header {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.logo {
  padding: 12px 36px;
  border-bottom: 2px solid #E7E7E7;
}

.logoCover {
  position: relative;
  width: 116px;
  height: 52px;
}

.tabbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  padding-inline: 16px;
}

.tabItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;

  a {
    font-size: 30px;
    color: #000000;
  }
}

.tabActiveItem {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 8px;
    background-color: #FB7299;
    border-radius: 8px;
  }
}