.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.logo {
  padding: px2rem(6) px2rem(18);
  border-bottom: 1px solid #e7e7e7;
}

.tabbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: px2rem(40);
  line-height: px2rem(40);
  padding-inline: px2rem(8);
}

.tabItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: px2rem(60);
  height: 100%;

  a {
    font-size: px2rem(15);
    color: #000000;
  }
}

.activeItem {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: px2rem(4);
    background-color: #fb7299;
    border-radius: 4px;
  }
}