.videoComment {
  padding-inline: 24px;
  margin-top: 24px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleText {
  font-size: 28px;
  color: #505050;
}

.titleCount {
  font-size: 28px;
  color: #999999;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding-block: 36px;

  &:not(:last-child) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #E7E7E7;
      transform: scaleY(0.5);
    }
  }
}

.itemCover {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.itemAvatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarText {
  font-size: 26px;
  color: #757575;
}

.avatarTime {
  color: #999999;
}

.itemContent {
  max-width: 100%;
  font-size: 28px;
  color: #212121;
  word-wrap: break-word;
  word-break: break-all;
}