.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #FFFFFF;
}

.logo {
  width: 124px;
  height: 56px;
  margin-left: 12px;
}

.other {
  display: flex;
  align-items: center;
  gap: 36px;
}

.search {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}