.searchSuggest {
  height: 100%;
}

.suggestList {
  padding-left: px2rem(12);
  background-color: #ffffff;
}

.suggestItem {
  padding-block: px2rem(12);
  border-bottom: 1px solid #cccccc;
  font-size: px2rem(13);
  color: #212121;
}
