.searchSuggest {
  height: 100%;
}

.suggestList {
  padding-left: 24px;
  background-color: #FFFFFF;
}

.suggestItem {
  padding-block: 24px;
  border-bottom: 2px solid #CCCCCC;
  font-size: 26px;
  color: #212121;
}
