.searchSuggest {
  height: 100%;
}

.suggestList {
  padding-left: 0.6rem;
  background-color: #ffffff;
}

.suggestItem {
  padding-block: 0.6rem;
  border-bottom: 1px solid #cccccc;
  font-size: 0.65rem;
  color: #212121;
}
