.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 36px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px 20px;
}

.titleText {
  font-size: 30px;
  color: #212121;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.subIcon {
  font-size: 36px;
}

.moreText {
  font-size: 26px;
}

.moreIcon {
  font-size: 26px;
  transform: rotate(-90deg);
}