.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.9rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 0.3rem 0.5rem;
}

.titleText {
  font-size: 0.75rem;
  color: #212121;
}

.more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.subIcon {
  font-size: 0.9rem;
}

.moreText {
  font-size: 0.65rem;
}

.moreIcon {
  font-size: 0.65rem;
  transform: rotate(-90deg);
}