* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Microsoft YaHei';
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loading .tip {
  font-size: 28px;
  color: #666666;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
}

.error .tip-icon {
  position: relative;
  width: 216px;
  height: 232px;
}

.error .tip {
  font-size: 28px;
  color: #A0A0A0;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.not-found .tip-icon {
  position: relative;
  width: 600px;
  height: 336px;
}

.not-found .tip {
  font-size: 32px;
  color: #A0A0A0;
}