.searchDetail {
  height: 100%;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: px2rem(44);
  padding: px2rem(6) px2rem(19) 0;
  background-color: #fff;
}

.tabItem {
  font-size: px2rem(13.5);
  color: #757575;
}

.tabActiveItem {
  position: relative;
  color: #fb7299;

  &::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    width: 100%;
    border-bottom: px2rem(2) solid #fb7299;
  }
}

.orderTab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 px2rem(19);
  border-top: px2rem(2) solid #f4f4f4;
  background-color: #f9f9f9;
}

.orderItem {
  padding: px2rem(9) 0;
  font-size: px2rem(13.5);
  color: #757575;
}

.orderActiveItem {
  color: #fb7299;
}

.notFound {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
}

.notFoundImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notFoundText {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: px2rem(12);
  color: #757575;
}