.searchDetail {
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-inline: 36px;
  background-color: #FFFFFF;
}

.tabItem {
  height: 100%;
  font-size: 27px;
  color: #757575;
  line-height: 80px;
}

.tabActiveItem {
  position: relative;
  height: 100%;
  font-size: 27px;
  color: #FB7299;
  line-height: 80px;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background-color: #FB7299;
    border-radius: 8px;
  }
}

.orderTab {
  display: flex;
  justify-content: space-between;
  padding-inline: 36px;
  border-top: 4px solid #F4F4F4;
  background-color: #F9F9F9;
}

.orderItem {
  padding-block: 18px;
  font-size: 27px;
  color: #757575;
}

.orderActiveItem {
  padding-block: 18px;
  font-size: 27px;
  color: #FB7299;
}

.emity {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  background-color: #F4F4F4;
}

.emityIcon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 478px;
  height: 298px;
}

.emityText {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #757575;
}