.searchHistory {
  width: 100%;
  height: 100%;
  border-top: 20px solid #F4F4F4;
}

.title {
  padding-inline: 24px;
  margin-block: 24px;
  font-size: 28px;
  color: #999999;
}

.list {
  margin-left: 28px;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-block: 24px;
  border-bottom: 2px solid #CCCCCC;
}

.itemIcon {
  position: relative;
  width: 30px;
  height: 30px;
}

.itemText {
  font-size: 28px;
  color: #505050;
}

.clear {
  margin-block: 24px;
  font-size: 28px;
  color: #999999;
  text-align: center;
}