.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  padding-block: 0.4rem;
  padding-inline: 0.6rem;
  background-color: #ffffff;
}

.searchInput {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.4rem;
  padding-right: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 2px;
}

.inputIcon {
  padding-inline: 0.4rem;
  font-size: 0.9rem;
  color: #aaaaaa;
}

.inputText {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  border: none;
  outline: none;
}

.searchCancel {
  font-size: 0.7rem;
  color: #fb7299;
}

.searchHot {
  padding-inline: 0.6rem;
  margin-top: 0.6rem;
  margin-bottom: 1.1rem;
}

.hotTitle {
  font-weight: 400;
  font-size: 0.7rem;
  color: #999999;
}

.hotList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.6rem;
}

.hotItem {
  padding: 0.4rem 0.5rem;
  border: 1px solid #cccccc;
  font-size: 0.6rem;
  border-radius: 50px;
}