.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-block: 16px;
  padding-inline: 24px;
  background-color: #FFFFFF;
}

.searchInput {
  flex: 1;
  display: flex;
  align-items: center;
  height: 56px;
  padding-right: 20px;
  background-color: #F4F4F4;
  border-radius: 4px;
}

.inputIcon {
  padding-inline: 16px;
  font-size: 36px;
  color: #AAAAAA;
}

.inputText {
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
  font-size: 26px;
  border: none;
  outline: none;
}

.clearIcon {
  position: relative;
  width: 38px;
  height: 32px;
}

.searchCancel {
  font-size: 28px;
  color: #FB7299;
}

.searchHot {
  padding-inline: 24px;
  margin-top: 24px;
  margin-bottom: 44px;
}

.hotTitle {
  font-weight: 400;
  font-size: 28px;
  color: #999999;
}

.hotList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 24px;
}

.hotItem {
  padding: 16px 20px;
  border: 2px solid #CCCCCC;
  font-size: 24px;
  border-radius: 100px;
}