.fanju {
  width: 100%;
  background-color: #FFFFFF;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 20px 24px;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.itemCover {
  position: relative;
  width: 156px;
  height: 208px;
  border-radius: 8px;
  overflow: hidden;
}

.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoLable {
  font-size: 28px;
  color: #212121;
}

.infoTitle {
  font-size: 28px;
  color: #212121;

  em {
    font-style: normal;
    color: #FB7299;
  }
}