.panel {
  display: flex;
  flex-direction: column;
  padding-inline: 0.6rem;
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
  background-color: #ffffff;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 0.6rem;
}

.titleText {
  font-size: 0.75rem;
  color: #212121;
}

.more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.moreText {
  font-size: 0.65rem;
  color: #919799;
}

.moreIcon {
  font-size: 0.5rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(8.5rem, 1fr));
  column-gap: 0.5rem;
  row-gap: 0.6rem;
}

.item {
  width: 100%;
  height: 100%;
}

.itemCover {
  position: relative;
  width: 100%;
  height: 5.3rem;
  margin-bottom: 0.3rem;
  border-radius: 4px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.3rem;
  box-sizing: border-box;
}

.infoName {
  flex: 1;
  font-size: 0.55rem;
  color: #ffffff;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infoItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.15rem;
  min-width: 2.8rem;
}

.itemCount {
  font-size: 0.55rem;
  color: #ffffff;
}

.itemTitle {
  font-size: 0.6rem;
  color: #212121;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.operate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.7rem 0.6rem;
  background-color: #ffffff;
}

.operateItem {
  flex: 1;
  height: 1.9rem;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  color: #fb7299;
  border-radius: 6px;
}