.panel {
  display: flex;
  flex-direction: column;
  padding-inline: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  background-color: #FFFFFF;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-block: 24px;
}

.titleText {
  font-size: 30px;
  color: #212121;
}

.more {
  display: flex;
  align-items: center;
  gap: 8px;
}

.moreText {
  font-size: 26px;
  color: #919799;
}

.moreIcon {
  position: relative;
  width: 32px;
  height: 32px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 24px;
}

.item {
  width: 100%;
  height: 100%;
}

.itemCover {
  position: relative;
  width: 100%;
  height: 212px;
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.infoName {
  flex: 1;
  font-size: 22px;
  color: #FFFFFF;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infoItem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  min-width: 112px;
}

.countIcon {
  position: relative;
  width: 16px;
  height: 16px;
}

.countText {
  font-size: 22px;
  color: #FFFFFF;
}

.itemTitle {
  font-size: 24px;
  color: #212121;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.operate {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 28px 24px;
  background-color: #FFFFFF;
}

.operateItem {
  flex: 1;
  height: 76px;
  border: 2px solid #D3D3D3;
  background-color: #FFFFFF;
  font-size: 26px;
  color: #FB7299;
  border-radius: 12px;
}